
/*Main page elements and start button----------------------------------*/
.page {
  background: linear-gradient(
    rgb(94, 120, 248) 0%,
    rgb(0,0,0) 100%);
}

.head-and-page{
  background-color: darkviolet;
}

.toolbar{
  color: rgb(247, 211, 114);
  background-color: rgb(29, 25, 54);
  height: 7vh;
  font-weight: bold;
}

.toolbar-button{
  height: 6vh;
  width: 10vw;
  min-width: 80px;
  font-weight: bold;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  border-radius: 5px;
  background: rgb(235, 173, 2);
  border-style:none;
  transition: 0.3s all ease-in-out
}

.toolbar-button:hover{
  background: rgb(255, 230, 160);
}

.toolbar{
  color: rgb(247, 211, 114);
  background-color: rgb(29, 25, 54);
  height: 7vh;
  font-weight: bold;
}

.login-button{
  height: 6vh;
  width: 200px;
  font-weight: bold;
  bottom:0px;
  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  border-radius: 5px;
  background: rgb(235, 173, 2);
  border-style:none;
  transition: 0.3s all ease-in-out
}

.login-button:hover{
  background: rgb(255, 230, 160);
}

.registration-window{
  min-height: 40vh;
  margin-bottom: 20%;
  padding:10px;
  padding-bottom:30px;
  background:rgb(29, 25, 54);
  color:white;
  box-shadow: inset -1px -1px 1px 0px rgb(81, 63, 88), 
              inset 1px 1px 1px 0px rgb(210, 178, 224);
}

.registration-title{
  text-align: center;
}

.registration-form{
  width: 100%;
}

.registration-form input{
  max-width: 169px;
  width:100%;
  float:right;
}

#password, #email, #password-confirm, #displayName, #creator-code{
  margin:10px;
}

.welcome-start-button{
  height: 6vh;
  width: 200px;
  font-weight: bold;
  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  border-radius: 5px;
  background: rgb(235, 173, 2);
  border-style:none;
  transition: 0.3s all ease-in-out
}

.welcome-start-button:hover{
  background: rgb(255, 230, 160);
}

.welcome-logout-button{
  height: 6vh;
  width: 200px;
  font-weight: bold;
  

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  border-radius: 5px;
  background: rgb(235, 173, 2);
  border-style:none;
  transition: 0.3s all ease-in-out
}

.welcome-logout-button:hover{
  background: rgb(255, 230, 160);
}

.start-button-container{
  height: 93vh;
  text-align: center;
  align-items: center;
}

.start-button-div-container{
  margin-top:40vh;
  text-align: center;
}

.start-button{
  height: 50px;
  width: 150px;
  font-weight: bolder;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  border-radius: 20px;
  background-color: rgb(235, 173, 2);
  border-style:none;
  transition: 0.5s all ease-in-out
}

.start-button:hover{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-top:-25px;
}

.start-button-effect{
  display: inline-block;
  height: 60vh;
  width: 100%;
  border-radius: 50px;
  margin-top: 13vh;
  margin-bottom:-5px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  border-color: lightblue ;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0 0 20px lightblue;

  background-color: rgb(41, 40, 36);
  border-style:none;

  animation-name: starting-game;
  animation-duration: 5s;
}

.right-container{
  text-align: center;
  padding:1%; 
}

.center-container{
  text-align: center;
  height: 93vh;
}

.left-container{
  text-align: center;
  padding-left:200px;
}

@keyframes starting-game {

  0% {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-top:calc(40vh - 25px);
  margin-bottom:-5px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

 
  background-color: rgb(235, 173, 2);
  border-style:none;
  }

  10%{
    height: 30px;
    width: 30px;
    border-radius:50px;
    margin-top:calc(30vh - 25px);
  }

  26%{
    margin-top: calc(93vh - 30px);
    height: 30px;
    width: 30px;
  }
  

  55%{
    margin-top: calc(93vh - 30px);
    width: 100%;
    height: 30px;
    background-color: rgb(235, 173, 2);
    
   }

  70%{
    margin-top: calc(93vh - 30px);
    width: 100%;
    height: 30px;
  }
}


/* TicTacToe Game -----------------------------------------------------------------------------------------*/
.game-window{
  height: 93vh;
}

.game-title{
  font-size: 4vh;
  font-weight: bold;
  color: rgb(247, 211, 114);
  height: 13vh;

  text-shadow: 5px 10px 20px rgb(101, 71, 4);
}

.game-game{
  height: 62vh;
  width: 100%;
  border-radius: 50px;
  background-color: rgb(41, 40, 36);
  
  border-color: lightblue ;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0 0 20px lightblue;
}

.game-buttons{
  height: 18vh;
  width: 100%;
}

.game-container{
  float:left;
  padding:7px;
  box-shadow:black 5px 0px 60px 10px inset;
  background: rgb(58, 89, 243);
  width: calc(252px + 6vw);
  border-radius: 10px;
  margin-top:40px;
  
  animation-name: scoreboard-appears;
  animation-duration:1s;
}

.selection-button{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: rgb(235, 173, 2);
  margin:7px;
  border-style: none;
  width: calc(70px + 2vw);
  height: calc(70px + 2vw);
  float:left;
  transition: 0.5s all ease-in;
  border-radius:5px
}

.fa-times {
  font-size:40px;
  color:rgb(59, 50, 25)
}

.fa-circle {
  font-size:40px;
  color:rgb(59, 50, 25);
  font-stretch: extra-expanded;
}

.selection-button:hover{
  background-color: rgb(247, 204, 86);
  margin:7px;
  border-style: none;
  width: calc(70px + 2vw);
  height: calc(70px + 2vw);
  float:left;
  transition: 0.2s all ease-in;
  border-radius:5px
}

.selection-button:disabled{
  background-color: rgb(235, 173, 2);
  color: black;
  border-style: none;
  border-radius:5px
}

.selection-button-clicked{
  background: rgb(255, 255, 255);
  margin:7px;
  border-style: none;
  width: calc(70px + 2vw);
  height: calc(70px + 2vw);
  float:left;
  border-radius:5px
}

.selection-button-pc{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: rgb(235, 173, 2);
  margin:7px;
  border-style: none;
  width: calc(70px + 2vw);
  height: calc(70px + 2vw);
  float:left;
  animation-name: pc-selected;
  animation-duration:1.5s;
  border-radius:5px
}

.selection-button-pc:disabled{
  background-color: rgb(235, 173, 2);
  color: black;
  border-style: none;
  border-radius:5px
}

.action-button-container{
  position:relative;
   clear:both;
   height: 100px;
}

.action-button{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin:20px;
  margin-top:20px;
  font-size: 15px;
  font-weight: bold;
  align-items: center;
  height: 64px;
  width: 134px;
  border-radius: 20px;
  background-color: rgb(235, 173, 2);

  transition: 0.2s all ease-in-out;
  border-width: 4px;
  border-color: rgb(23, 39, 120);

  animation-name: scoreboard-appears;
  animation-duration:1s;
}

.action-button:hover{
  margin:12px;
  margin-top:20px;
  font-weight: bold;
  align-items: center;
  height: 70px;
  width: 150px;
  border-radius: 20px;
  background-color: rgb(247, 204, 86);
  border-width: 14px;
  border-color: rgb(54, 118, 221);
}

.win-text-container{
   clear:both;
   height: 40px;
   text-align:center;
   padding-top:20px;
}

.win-text{
   float:bottom;
   color:white;
   font-size: 20px;   
}

@keyframes pc-selected {
  0% {background-color:red};
}

/* Scoreboard --------------------------------------------------------------------------------- */
.scoreboard-container-big{
  width: 100%;
  height: 50vh;
  background-color: black;
  border-radius: 10px;
  border-color: lightblue ;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0 0 20px lightblue;

  padding:20px;

  animation-name: scoreboard-appears;
  animation-duration:1s;
}

.scoreboard-container-small{
  width: 100%;
  height: 20vh;
  background-color: black;
  padding:20px;
  margin-top:10px;
  
  border-radius: 10px;
  border-color: lightblue ;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0 0 20px lightblue;

  animation-name: scoreboard-appears;
  animation-duration:1s;
}

.scoreboard-text{
  width: 100%;
  background: rgb(19, 19, 20);
  border-width: 1px;
  border-style:solid;
  border-color:lightblue;
  box-shadow: 0 0 5px lightblue;
  border-radius: 5px;
  padding:10px;

  color:rgb(247, 204, 86);
}

@keyframes scoreboard-appears {

  0%{
    opacity: 0%;
  }
  
}
